#about-header-section {
  position: relative;
  height: 189px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-body {
  overflow-x: hidden;
}

#about-header {
  font-family: Orbitron;
  position: relative;
  font-size: 80px;
}

#about-row-one {
  height: 628px;
  font-family: Kanit;
}

#about-row-two {
  height: 522px;
  font-family: Kanit;
}

#about-button-section {
  height: 321px;
}
