#about-header-section {
  position: relative;
  height: 189px;
}

#about-header {
  position: relative;
  font-size: 80px;
  left: 19.5%;
}

#about-row-one {
  height: 532px;
}

#about-row-two {
  height: 427px;
}

#about-button-section {
  height: 321px;
}
