#about-header-section {
  position: relative;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-body {
  overflow-x: hidden;
}

#about-header {
  font-family: Orbitron;
  position: relative;
  font-size: 90px;
}

@media only screen and (max-width: 720px) {
  #about-header {
    text-align: center;
    font-size: 4rem;
  }
}

#about-row-one {
  /* height: 628px; */
  font-family: Kanit;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

#about-paragraph-one {
  position: relative;
  text-align: right;
  /* left: 21.2%; */
}

#about-row-two {
  /* height: 522px; */
  font-family: Kanit;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}

#about-paragraph-two {
  position: relative;
  text-align: left;
  /* left: 50.6%; */
}

.about-images {
  border: 45px solid #191818;
}

@media only screen and (max-width: 1424px) {
  #about-row-one {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #about-row-two {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #about-paragraph-one {
    text-align: center;
  }

  #about-paragraph-two {
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  #about-row-one {
    flex-direction: row;
  }

  #about-row-two {
    flex-direction: row;
  }
}

@media only screen and (max-width: 750px) {
  #about-paragraph-one {
    margin-left: 25px;
    margin-right: 25px;
  }

  #about-paragraph-two {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 720px) {
  #about-paragraph-one br {
    display: none;
  }

  #about-paragraph-two br {
    display: none;
  }
}

@media only screen and (max-width: 580px) {
  #about-paragraph-one {
    margin-left: 3.5px;
    margin-right: 3.5px;
    font-size: 6vw;
  }

  #about-paragraph-two {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 6vw;
  }
}

#about-button-section {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* height: 321px; */
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 512px) {
  #about-button-section {
    padding-top: 60px;
  }
}

#work-with-button {
  position: relative;
  /* left: 38.6%; */
}

.long-button-style {
  font-family: Orbitron;
  appearance: button;
  color: white;
  background-color: #3f58ac;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  width: 438px;
  height: 96px;
  font-size: 30px;
}

.long-button-style:before {
  content: "";
  position: absolute;
  display: inline-block;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
}
.long-button-style:hover:before {
  animation: animate 0.2s linear forwards;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: white;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

.long-button-style:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
}

.long-button-style:hover:after {
  animation: animate2 0.2s linear forwards;
}

@keyframes animate2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: white;
  }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: white;
    border-left-color: white;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: white;
    border-left-color: white;
  }
}

@media only screen and (max-width: 520px) {
  .long-button-style {
    width: 20rem;
  }
}
