.default-color {
  background-color: #1d1d1d;
}

.home-body {
  overflow-x: hidden;
}

#desktop-header {
  background-image: url("./images/My-Website-Home-Header.jpg");
  width: 100%;
  height: 949px;
  color: white;
  position: relative;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header-header-text {
  position: absolute;
  font-size: 100px;
  left: 1184px;
  top: 300px;
  background-color: transparent;
}

#header-subheader-text {
  position: absolute;
  font-size: 50px;
  left: 1184px;
  top: 493px;
  background-color: transparent;
}

.home-lead {
  height: 345px;
  background-color: #2c5472;
  color: black;
  box-shadow: inset 0px 0px 0px 1px;
  border: 18.5px solid #2c5472;
  overflow-y: hidden;
}

.lead-span {
  background-color: #2c5472;
  color: black;
}

#home-lead-head {
  position: relative;
  text-align: center;
  /* background-color: #2c5472; */
  bottom: 20px;
  font-size: 50px;
}

#home-lead-subhead {
  position: relative;
  text-align: center;
  font-size: 30px;
  /* width: 300px;
  left: 800px; */
  /* background-color: #2c5472; */
  bottom: 50px;
}

#home-image-one {
  background-image: url("./images/cropped-home-1.jpg");
  position: relative;
  height: 400px;
  width: 744px;
  left: 254px;
  top: 81px;
  border: 3px solid #2c5472;
}

#home-image-paragraph-one {
  text-align: left;
  position: relative;
  left: 1110px;
  bottom: 225px;
  background-color: transparent;
  font-size: 35px;
}

#home-image-two {
  background-image: url("./images/cropped-home-2.jpg");
  position: relative;
  height: 584px;
  width: 584px;
  /* top: 107px; */
  bottom: 107px;
  left: 1082px;
  border: 3px solid #2c5472;
}

#home-image-paragraph-two {
  text-align: right;
  position: relative;
  right: 960px;
  bottom: 532px;
  background-color: transparent;
  font-size: 35px;
}

#callout-home {
  background-color: #4e4848;
  bottom: 300px;
  height: 494px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#callout-text {
  background-color: #4e4848;
  text-align: center;
  font-size: 40px;
  display: flex;
}

#home-final-section {
  height: 569px;
  display: flex;
  justify-content: center;
}

#home-final-text {
  font-size: 40px;
  text-align: center;
}

* {
  /* background-color: #1d1d1d; */
  color: white;
  max-width: 100%;
  /* overflow-x: hidden; */
}
