.accordion-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accordion {
  border: 2px solid black;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.accordion-title {
  background-color: #1d1d1d;
  /* border: 1px solid #4e4848; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.accordion-content {
  text-align: center;
  background-color: #4e4848;
  /* max-height: 200px;
  transition: max-height 0.2s ease-in-out; */
}

.accordion-content[aria-expanded="true"] {
  max-height: 0px;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}
