.default-color {
  background-color: #1d1d1d;
  color: white;
}

.services-body {
  overflow-x: hidden;
}

#services-header-container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#services-header-text {
  position: relative;
  font-family: Orbitron;
  /* left: 42%;
  bottom: 221px; */
  font-size: 80px;
}

#services-paths {
  /* height: 1150px; */
  height: 60vw;
  position: relative;
  /* bottom: 100px; */
}

#services-paths-mobile {
  display: none;
}

#services-paths-head {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 40px; */
  font-size: 2vw;
  text-align: center;
}

#services-paths-top-line {
  /* height: 2px; */
  position: relative;
  /* top: 57px; */
  top: 2.968vw;
  left: 20%;
  width: 60%;
  background-color: #1d1d1d;
  border-top: 2px solid #3f58ac;
}

#services-paths-content {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 67%;
  /* font-size: 35px; */
  font-size: 1.82vw;
  justify-content: center;
  left: 17%;
  margin-top: none;
}

#services-paths-right {
  /* align-items: right;
  justify-content: right; */
  text-align: center;
  width: 50%;
  margin-top: none;
  position: relative;
  /* top: 55px; */
  top: 2.86vw;
  /* border: 5px red solid; */
}

#services-paths-left {
  /* align-items: left;
  justify-content: left; */
  text-align: center;
  width: 50%;
  position: relative;
  /* top: 55px; */
  top: 2.86vw;
  border-right: 2px solid #3f58ac;
  /* border: 5px blue solid; */
}

@media only screen and (max-width: 1024px) {
  /* #services-paths {
    display: none;
  } */

  #services-paths-mobile {
    display: flex;
  }
}

#services-cost {
  height: 660px;
  background-color: #4e4848;
}

#services-cost-head {
  font-size: 50px;
  position: relative;
  left: 12.5%;
  top: 9%;
}

#services-cost-body {
  /* font-size: 40px; */
  font-size: 2vw;
  position: relative;
  left: 12.5%;
  top: 9%;
}

@media only screen and (max-width: 1024px) {
  #services-cost-head {
    text-align: center;
    left: 0;
    top: 5vw;
  }

  #services-cost-body {
    font-size: 3.5vw;
    text-align: center;
    left: 0;
    top: 1vw;
  }
}

#services-question-section {
  height: 800px;
  /* overflow-y: hidden; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

#question-box-header {
  font-family: Orbitron;
  font-size: 40px;
  position: relative;
  top: 0%;
  left: 16.2%;
}

#question-box-container {
  /* height: 949px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow-y: hidden; */
}

#question-boxes-area {
  height: 112px;
  display: flex;
  justify-content: center;
}

#answer-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1266px;
  height: 426px;
  /* width: 66%;
  height: 39.444%; */
  background-color: #4e4848;
  border: 2px solid black;
  border-top: transparent;
}

.unselected-question {
  background-color: #1d1d1d;
  font-size: 10px;
  width: 254px;
  height: 112px;
  border: 2px solid black;
  border-bottom: black;
  color: white;
  transition: 0.3s;
}

.unselected-question:hover {
  background-color: #4e4848;
  border: 2px solid white;
}

.selected-question {
  background-color: #4e4848;
  border: 2px solid black;
  border-bottom: 2px solid #4e4848;
  font-size: 10px;
  width: 254px;
  height: 112px;
  transition: 0.3s;
}

@media only screen and (max-width: 1024px) {
  #question-box-header {
    text-align: center;
    left: 0;
  }
}

#button-section {
  height: 300px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

#set-up-button {
  position: relative;
  left: 38.6%;
}

.long-button-style {
  font-family: Orbitron;
  appearance: button;
  color: white;
  background-color: #3f58ac;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  width: 438px;
  height: 96px;
  font-size: 30px;
}

.long-button-style:before {
  content: "";
  position: absolute;
  display: inline-block;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
}
.long-button-style:hover:before {
  animation: animate 0.2s linear forwards;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: white;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

.long-button-style:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
}

.long-button-style:hover:after {
  animation: animate2 0.2s linear forwards;
}

@keyframes animate2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: white;
  }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: white;
    border-left-color: white;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: white;
    border-left-color: white;
  }
}

/* .long-button-style:hover { */
/* outline: 1px solid white;
  outline-offset: -10px; */
/* box-shadow: inset 0px 0px 0px 2px;
} */
