.default-color {
  background-color: #1d1d1d;
  color: white;
}

.services-body {
  overflow-x: hidden;
}

#services-header-image {
  background-image: url("../../images/services-header.jpg");
  height: 377px;
  width: 1077px;
  position: relative;
  left: 700px;
}

#services-header-text {
  position: relative;
  left: 464px;
  bottom: 221px;
  font-size: 60px;
}

#services-paths {
  height: 1058px;
}

#services-paths-head {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  text-align: center;
}

#services-paths-top-line {
  /* height: 2px; */
  position: relative;
  top: 57px;
  left: 20%;
  /* justify-content: center;
  align-content: center; */
  width: 60%;
  background-color: #1d1d1d;
  border-top: 2px solid #2c5472;
}

#services-cost {
  height: 660px;
  background-color: #4e4848;
}

#services-question-section {
  height: 949px;
}
