.default-color {
  background-color: #1d1d1d;
  color: white;
}

#contact-body {
  /* height: 93.4vh; */
  background-color: #1d1d1d;
  overflow-y: hidden;
  /* display: flex;
  justify-content: center; */
}

#contact-head-container {
  height: 190px;
  display: flex;
  justify-content: center;
}

#contact-header {
  font-family: Orbitron;
  position: relative;
  text-align: center;
  font-size: 90px;
}

#calendly-container {
  /* width: 750px; */
  height: 700px;
  display: flex;
  justify-content: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* border: solid 2px red; */
  /* overflow-y: hidden; */
}

#calendly {
  position: relative;
  top: 200px;
}

@media only screen and (max-width: 500px) {
  #contact-head-container {
    height: 250px;
  }
}
