.navbar {
  background-color: black;
  display: flex;
  align-items: center;
  color: white;
  width: 100vw;
  height: 73px;
  position: sticky;
  top: 0;
  z-index: 100;
  list-style: none;
  overflow-x: hidden;
}

#logan-home {
  font-family: Orbitron;
  font-size: 40px;
  position: relative;
  /* top: 10%; */
  left: 3.8%;
}

#home-nav {
  font-family: Kanit;
  font-size: 30px;
  display: inline;
  position: absolute;

  /* left: 1450px; */
  left: 68.75%;

  /* top: 25%; */
  background-color: black;
}

#about-nav {
  font-family: Kanit;
  font-size: 30px;
  display: inline;
  position: absolute;

  /* left: 1550px; */
  left: 74.5%;

  /* top: 25%; */
  background-color: black;
}

#services-nav {
  font-family: Kanit;
  font-size: 30px;
  display: inline;
  position: absolute;

  /* left: 1650px; */
  left: 81.4%;
  /* top: 25%; */
  background-color: black;
}

#contact-nav {
  font-family: Kanit;
  font-size: 30px;
  display: inline;
  position: absolute;

  /* left: 1750px; */
  left: 89.5%;

  /* top: 25%; */
  background-color: black;
}

.navlink {
  text-decoration: none;
}

.navlink:after {
  content: "";
  display: flex;
  border-bottom: 2px solid #3f58ac;
  transform: scaleX(0);
  transition: transform 0.15s ease-in-out;
}

.navlink:hover:after {
  transform: scaleX(1);
}

.highlighted {
  text-decoration: none;
  border-bottom: 2px solid #3f58ac;
}
