.navbar-custom {
  background-color: black;
  display: flex;
  align-items: center;
  color: white;
  width: 100vw;
  height: 73px;
  position: sticky;
  top: 0;
  z-index: 100;
  list-style: none;
  /* overflow-x: hidden; */
}

.navbar-custom ul {
  display: flex;
  height: 0px;
  width: 36rem;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  position: relative;
  font-size: 30px;
  margin-left: auto;
  font-family: Kanit;
  background-color: black;
  list-style: none;
}

#logan-home {
  font-family: Orbitron;
  font-size: 40px;
  position: relative;
  left: 3.8%;
}

.navlink-custom {
  text-decoration: none;
  color: white;
}

.navbar-mobile {
  display: none;
}

.navlink-custom:after {
  content: "";
  display: flex;
  border-bottom: 2px solid #3f58ac;
  transform: scaleX(0);
  transition: transform 0.15s ease-in-out;
}

.navlink-custom:hover:after {
  transform: scaleX(1);
}

.highlighted {
  text-decoration: none;
  border-bottom: 2px solid #3f58ac;
}

@media screen and (min-width: 1024px) and (max-width: 1600px) {
  .navbar-custom ul {
    width: 36rem;
  }

  /* .navbar-custom {
    height: 60px;
  } */

  #logan-home {
    font-size: 40px;
    /* margin-left: auto;
    margin-right: auto;
    left: 0px; */
  }
}

@media screen and (max-width: 1024px) {
  .navbar-mobile {
    display: inline;
    padding-right: 10px;
  }

  #logan-home {
    font-size: 30px;
  }

  .navbar-custom {
    height: 60px;
    display: flex;
    justify-content: space-between;
  }
}
