.navbar {
  background-color: #080558;
  color: white;
  width: 100%;
  height: 73px;
  position: sticky;
  top: 0;
  z-index: 100;
  list-style: none;
}

#home-nav {
  display: inline;
  position: absolute;
  left: 537px;
  /* left: 27.96875%; */
  top: 33%;
  background-color: #080558;
}

#about-nav {
  display: inline;
  position: absolute;
  left: 766px;
  /* left: 39.895833%; */
  top: 33%;
  background-color: #080558;
}

#services-nav {
  display: inline;
  position: absolute;
  left: 1005px;
  /* left: 52.34375%; */
  top: 33%;
  background-color: #080558;
}

#contact-nav {
  display: inline;
  position: absolute;
  left: 1278px;
  /* left: 66.5625%; */
  top: 33%;
  background-color: #080558;
}
